body,
h1, h2, h3,
p {
  font-family: $font-family-main;
}

p {
  line-height: 2;
  font-size: 16px;
}

.wrap {
  padding: 5% 10%;
}

#header {
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ), url('../images/speed-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;

  .cl-hero {
    margin-top: 20vh;

    h1 {
      color: #333;
      font-weight: bold;
      font-family: $font-family-fancy;
      font-size: 5em;
    }
    p {
      color: #333;
      font-size: 2em;
    }
  }

}

#intro {
  .intro-panel {

  }
}

footer {
  background: black;
  color: silver;
  padding: 25px;
  display: flex;
  justify-content: space-around;
}
