@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans|Parisienne');

$font-family-main: 'Quattrocento Sans', sans-serif;
$font-family-fancy: 'Parisienne', cursive;

$primary-color: #D1B78F;
$secondary-color: #AB8B5B;
