@import url("https://fonts.googleapis.com/css?family=Quattrocento+Sans|Parisienne");
.cl-nav {
  padding-top: 25px; }
  .cl-nav li {
    font-size: 18px; }
    .cl-nav li a {
      color: #333; }
      .cl-nav li a:hover {
        color: gold; }

body,
h1, h2, h3,
p {
  font-family: "Quattrocento Sans", sans-serif; }

p {
  line-height: 2;
  font-size: 16px; }

#header {
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("../images/speed-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  background-attachment: fixed; }
  #header .cl-hero {
    margin-top: 75px;
    padding-bottom: 265px; }
    #header .cl-hero h1 {
      color: #333;
      font-weight: bold;
      font-family: "Parisienne", cursive;
      font-size: 5em; }
    #header .cl-hero p {
      color: #333;
      font-size: 2em;
      padding-top: 25px; }

.vehicle-container {
  width: 100%;
  text-align: center; }

#header + .vehicle-container {
  height: 250px;
  position: relative;
  top: -200px; }

#intro .intro-panel {
  padding-bottom: 150px; }

#intro .cta {
  width: 50%;
  text-align: center;
  padding: 50px 0 0;
  margin: 0 auto; }

#service {
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("../images/anders.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  background-attachment: fixed;
  padding: 265px 0 175px;
  position: relative; }
  #service .wrap {
    background: rgba(255, 255, 255, 0.9); }
    #service .wrap h2 {
      padding-top: 75px; }
  #service .vehicle-container {
    position: absolute;
    top: 125px; }
  #service .lists {
    display: flex;
    justify-content: center; }
  #service .fleet {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; }
    #service .fleet .fleet-box {
      text-align: center; }
    #service .fleet .fleet-image {
      width: 400px;
      height: 250px;
      justify-content: center;
      overflow: hidden;
      display: flex; }
      #service .fleet .fleet-image p {
        text-align: center; }
    #service .fleet .thumb {
      height: 100%; }

footer {
  background: black;
  color: silver;
  padding: 25px;
  display: flex;
  justify-content: space-around; }
  footer .services-list ul {
    padding: 0;
    list-style: none; }
  footer a {
    color: #ccc; }
    footer a:hover {
      color: #D1B78F;
      text-decoration: none; }

.wrap {
  padding: 5% 10%; }

.btn-champagne {
  background: #D1B78F;
  border: 1px solid #D1B78F;
  padding: 15px 5px; }

.booking {
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  overflow: scroll;
  transition: all 2s; }
  .booking .form {
    width: 500px;
    margin: 25px auto;
    border-radius: 4px;
    background: #fafafa;
    padding: 15px 20px;
    color: #333; }
    .booking .form h3 {
      padding-top: 15px;
      padding-bottom: 0px; }
    .booking .form h5 {
      padding-top: 15px; }
    .booking .form p {
      line-height: 1.5;
      text-align: left; }
    .booking .form .form-buttons {
      display: flex;
      justify-content: space-between; }
  .booking .btn-alert {
    background: #ff7f7f;
    color: white; }
  .booking .close {
    text-align: right; }
  .booking .success-message {
    background: white;
    color: #333;
    padding: 15px;
    border-radius: 4px;
    text-align: center;
    width: 500px;
    margin: 25px auto; }

@media screen and (max-width: 1199px) {
  #service .fleet {
    justify-content: center; } }

@media screen and (max-width: 480px) {
  #header + .vehicle-container {
    height: auto;
    margin-top: -100px;
    position: unset; }
  .booking {
    padding: 5px;
    overflow-y: scroll; }
    .booking .form {
      width: auto;
      margin-top: 5px; }
      .booking .form h3 {
        padding-bottom: 0; }
      .booking .form h5 {
        padding-top: 0; }
      .booking .form p {
        font-size: 14px; } }

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em; }
  .vehicle-container img {
    width: 100%; }
  #intro .cta {
    width: 100%; }
  #header .cl-hero h1 {
    font-size: 4em; }
  #header .cl-hero p {
    font-size: 1em; }
  #service .lists {
    flex-flow: column; }
  #contact h2 {
    margin-top: 25px; }
  footer {
    flex-flow: column; } }
