@import url("https://fonts.googleapis.com/css?family=Quattrocento+Sans|Parisienne");
.cl-nav {
  padding-top: 25px; }
  .cl-nav li {
    font-size: 18px; }
    .cl-nav li a {
      color: #333; }
      .cl-nav li a:hover {
        color: gold; }

body,
h1, h2, h3,
p {
  font-family: "Quattrocento Sans", sans-serif; }

p {
  line-height: 2;
  font-size: 16px; }

.wrap {
  padding: 5% 10%; }

.btn-champagne {
  background: #D1B78F;
  border: 1px solid #D1B78F;
  padding: 15px 5px; }

#header {
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("../images/speed-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  background-attachment: fixed; }
  #header .cl-hero {
    margin-top: 75px;
    padding-bottom: 265px; }
    #header .cl-hero h1 {
      color: #333;
      font-weight: bold;
      font-family: "Parisienne", cursive;
      font-size: 5em; }
    #header .cl-hero p {
      color: #333;
      font-size: 2em;
      padding-top: 25px; }

.vehicle-container {
  width: 100%;
  text-align: center; }

#header + .vehicle-container {
  height: 250px;
  position: relative;
  top: -200px; }

#intro .intro-panel {
  padding-bottom: 150px; }

#intro .cta {
  width: 50%;
  text-align: center;
  padding: 50px 0 0;
  margin: 0 auto; }

#service {
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("../images/anders.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  background-attachment: fixed;
  padding: 265px 0 175px;
  position: relative; }
  #service .wrap {
    background: rgba(255, 255, 255, 0.9); }
    #service .wrap h2 {
      padding-top: 75px; }
  #service .vehicle-container {
    position: absolute;
    top: 125px; }
  #service .lists {
    display: flex;
    justify-content: center; }
  #service .fleet {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
    #service .fleet .fleet-image p {
      text-align: center; }
    #service .fleet .thumb {
      width: 250px;
      max-width: 100%;
      height: auto; }

footer {
  background: black;
  color: silver;
  padding: 25px;
  display: flex;
  justify-content: space-around; }

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em; }
  .vehicle-container img {
    width: 100%; }
  #intro .cta {
    width: 100%; }
  #header .cl-hero h1 {
    font-size: 4em; }
  #header .cl-hero p {
    font-size: 1em; }
  #service .lists {
    flex-flow: column; }
  #contact h2 {
    margin-top: 25px; }
  footer {
    flex-flow: column; }
    footer .services-list ul {
      padding: 0;
      list-style: none; } }
